<p style="color: green"><%= notice %></p>

<% content_for :title, "Watches" %>

<h1>Watches</h1>

<%= render "ahoy/chart", events: @events %>

<div id="watches">
  <% @watches.each do |watch| %>
    <%= render watch %>
  <% end %>
</div>

<p>
<%= link_to "New watch", new_watch_path, class: 'button' %>
</p>
